* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Futura";
}
*::selection {
    color: white;
    background-color: black;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #F7F7F7;
}

/* <------ Navbar styling ------> */

#navbar {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2vw;
    z-index: 99;
}

#navbar #nav-part1 {
    height: 89px;
    padding: 2px;
    overflow-y: hidden;
}

#nav-part1 svg {
    display: block;
}


#svg2 {
    margin: 4px;
}

#nav-part2 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5vw;
}

#nav-part2 #links a {
    font-family: 'Helvetica';
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    margin: 0 2vw;
}

#nav-part2 #icons {
    font-family: 'Helvetica';
    display: flex;
    gap: 5vw;
    font-size: 14px;
    background-color: #F7F7F7;
    border-radius: 50px;
    padding: 8px;
    font-weight: 100;
}

#nav-part2 #icons i {
    cursor: pointer;
}


#page1 {
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding: 28vh 3vh;
    padding-bottom: 20vh;
}

#page1 h1 {
    text-transform: uppercase;
    font-size: 15.1vw;
    line-height: 14vw;
    letter-spacing: -7px;
    font-weight: bolder;
}

#page1 .boundingLast {
   display: inline-block;
}


#page1 .secondHeadline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}


.bounding {
    overflow: hidden;
}

.bounding .boundingelem {
    transform: translateY(100%);
}

#canvas {
    height: 100vh;
    width: 100%;
    margin-top: 1vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#image-container {
    z-index: -1;
    /* top: -20vh; */
    height: 110%;
    width: 100%;
    position: absolute;
    background-color: grey;
    background-image: url("image-main.avif");
    background-repeat: no-repeat;
    background-size:cover;
}

#pointer-follower {
    opacity: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7vw;
    height: 7vw;
    border-radius: 50px;
    background-color: black;
    position: absolute;
    pointer-events: none;
    z-index: 2;
}

#page2-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page2-detail #main-head {
    font-size: 4vw;
    letter-spacing: 3%;
    margin-bottom: 1.8vw;
}

#page2-detail #detail {
    font-family: "Helvetica";
    letter-spacing: 1px;
    font-size: 1vw;
    margin-bottom: 1.8vw;
}

#page2-detail #detail span {
        font-family: "Helvetica";
        text-align: center;
}

#page2-detail #detail-last {
    font-family: "Helvetica";
    text-transform: uppercase;
    font-size: 1vw;
}

/* -------- Page 2 image Styling -------- */
#page2-image-container {
    margin-top: 10vw;
    padding: 1vw;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

#page2-image-container .elem {
    position: relative;
    height: 100vh;
    width: 32%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page2-image-container .elem img {
    scale: 1.2;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page2-image-container .img-dets {
    height: 6%;
    width: 50%;
    border-radius: 50px;
    background-color: #DCC0B4;
    position: absolute;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#page2-image-container .img-dets span {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

/* <------ Page 3 heading & info styling ------> */
#page3 {
    padding-top: 120px;
    width: 98vw;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    padding: 3vw;
    align-items: center;
}

#page3-head h1 {
    font-size: 4vw;
    text-transform:uppercase;
    line-height: 4vw;
}

#page3-info {
    padding: 3vw;
    width: 60%;
    margin-right: 6vw;
}

#page3-info p {
    font-family: "Helvetica";
    font-size: 16px;
    margin-bottom: 2vw;
    line-height: 130%;
}

#page3-info a {
    text-decoration: none;
    font-family: "Helvetica";
    color: #000000;
    width: fit-content;
    display: inline;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: underline;
}

/* <------ page 4 items styling ------> */
#page4 {
    width: 100%;
    height: 200vh;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#page4 .child {
    height: 45vw;
    width: 40%;
    padding: 3vw;
    position: relative;
    justify-content: center;
    align-items: center;
}

#page4 .child img {
    width: 100%;
    height: 100%;
}

#cursor {
    height: 150px;
    width: 150px;
    background-color: rgb(213, 142, 213);
    border-radius: 50%;
    position: fixed;
    transform: scale(0);
}

/* <----- testinmonial page styling ------> */
#page5-testimonial {
    margin-top: 10vw;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    
}

#page5-testimonial #info {
    width: 30%;
    padding: 10px;
    overflow-y: hidden;
}

#page5-testimonial #info p {
    font-family: Helvetica;
    padding: 13px 0px;
    line-height: 20px;
    color: #333;
}

#page5-testimonial h2 {
    margin-bottom: 2vw;
}

#page5-testimonial #image {
    display: flex;
    justify-content: space-between;
}

#page5-testimonial #image img {
    width: 49.5%;
}

/* <------ Styling for email section ------> */
#pre-end-email {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
    margin: 100px 0px;
}

#pre-end-email #email-area {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pre-end-email #email-area textarea {
    width: 96%;
    height: 90px;
    resize: none;
    font-size: 3.5vw;
    text-transform: uppercase;
    color: black;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    line-height: 90px;
    border: none;
    background-color: #F7F7F7;
    border: none;
    outline: none;
}

#pre-end-email #email-area textarea::placeholder {
    color: black;
}

#pre-end-email #email-area textarea:focus::placeholder {
    color: transparent;
}

#pre-end-email #email-area #line {
    border: 1px solid #333;
}

#pre-end-email #line {
    width: 100%;
    border: 1px solid #333;
    opacity: 0.5;
}

#pre-end-email #email-area button {
    border: none;
    background-color: #F7F7F7;
}

#pre-end-email #email-area button i{
    font-size: 30px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}


/* <------ Styling for last page ------> */
#end-page {
    height: 100vh;
    padding: 3vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#end-page .social-links li {
    list-style: none;
}

#end-page .social-links a {
    font-family: Helvetica;
    text-decoration: none;
    color: #333;
    transition: 0.2s ease;
}

#end-page .social-links .head {
    font-family: Helvetica;
    opacity: 0.5;
    margin-bottom: 1vw;
    font-weight: 200;
}

#logo-big {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#logo-big #copyright a {
    font-family: Helvetica;
    font-size: 14px;
    text-decoration: none;
    color: #333;
    opacity: 0.5;
    margin: 0px 15px;
    font-weight: 10;
}

#logo-big #copyright {
    margin-top: 5vw;
}

#end-page #section1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#end-page #section2 p {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#end-page #section2 {
    width: 60%;
}

#end-page #section1 .social-links a:hover {
    opacity: 0.5;
}

@media (max-width: 600px) {

    #nav-part2 #links {
        display: none;
    }

    #nav-part2 #icons {
        gap: 50px;
        font-size: 20px;
    }

    #page1 {
        height: 80vh;
        padding-bottom: 10vw;
        min-height: fit-content;
    }

    #page1 h1 {
        font-size: 14vw;
        letter-spacing: 0px;
    }

    #canvas {
        height: 50vw;
    }

    #page2-detail #main-head {
        font-size: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3vw;
        flex-wrap: wrap;
        text-align: center;
        word-break: break-word;
    }

    .containerPage2-dets {
        padding: 7vw;
        display: flex;
        justify-content: center;
        width: 100vw;
        align-items: center;
    }

    #page2-detail #detail {
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 1vw;
        font-family: "Helvetica";
        width: 50%;
        text-align: center;
    }
    #page2-detail #detail span {
        font-family: "Helvetica";
        text-align: center;
    }

    #page2-detail #detail-last {
        font-family: "Helvetica";
        text-transform: uppercase;
        font-size: 12px;
        margin-top: 2vw;
    }   

    #page2-image-container {
        margin-top: 10vw;
        padding: 5vw;
        width: 100%;
        height: auto; 
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        overflow: hidden;
    }

    #page2-image-container .elem {
        height: 100vh;
        width: 100%;
        overflow: hidden;
        margin-bottom: 5vw;
    }

    #page3 {
        flex-direction: column;
        height: auto;
    } 
    
    #page3-head h1 {
        font-size: 32px;
        line-height: normal;
        text-align: center;
    }

    #page3-info {
        padding: 3vw;
        width: 100%;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #page3-info p {
        text-align: center;
        margin-bottom: 10%;
    }

    #page3-info a {
        text-align: center;
    }


    #page4 {
        width: 100vw;
        height: auto;
    }

    #page4 .child {
        height: auto;
        width: 40%;
    }

    #child3, #child4 {
        margin-top: 20vw;
    }

    /* <---- testimonial page ----> */
    #page5-testimonial {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    #page5-testimonial #info {
        width: 100%;
    }

    /* <---- last page ----> */

    #end-page {
        height: auto;
    }

    #end-page #section1 {
        flex-wrap: wrap;
        margin-bottom: 50px;
    }

    #logo-big svg{
        width: 100px;        
    }

    #logo-big {
        order: 1;
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    #social1 {
        order: 2;
    }

    #social2 {
        order: 3;
    }


    #logo-big #copyright {
        display: none;
    }

    #end-page #section2 p {
        width: 100%;
        text-align: left;
    }

    #end-page #section2 {
        width: 100%;
        padding: 5px;
        margin-bottom: 20px;
    }

    #end-page #section1 .social-links a:hover {
        opacity: 0.5;
    }
    
}

